<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.cos.answer.dao.AnswerInterfaceDao">
	<!-- 답변 등록 질문 -->
	<insert id="insertAnswer" parameterType="com.team.cos.answer.vo.AnswerInfo">
		insert into answer(q_no,user_no,a_content,a_tag,a_regdate)
		values
		(#{q_no},#{user_no},#{a_content},#{a_tag},now())
	</insert>
	<!-- 사용자 점수 업데이트 -->
	<update id="updateUserScore">
		update userinfo set user_score = user_score + #{score} where user_no = #{user_no}
	</update>
	<!-- 사용자 등급확인 -->
	<select id="checkLevel" resultType="int">
		select user_score from userinfo where user_no = #{user_no}
	</select>
	<!-- 답변 리스트 출력 -->
	<select id="answerList" resultType="com.team.cos.answer.vo.AnswerInfo">
		select  a.a_no,a.q_no,a.user_no,a.a_content,a.a_tag,a.a_regdate,a.a_recommand,a.a_choose
		from answer a inner join userinfo u 
		on a.user_no = u.user_no
		where a.q_no = #{q_no}
		<trim prefix="ORDER BY">
			<if test="order == 'score'"> u.user_score DESC </if>
			<if test="order == 'votes'"> a.a_recommand DESC </if>
			<if test="order == 'date'"> a.a_regdate DESC </if>
		</trim>
	</select>
	<!-- 사용자 정보 출력 -->
	<select id="answerUserInfo" resultType="com.team.cos.userinfo.vo.UserInfoVo">
		select u.user_no,u.user_nickname,u.user_photo 
		from answer a inner join userinfo u
		on a.user_no = u.user_no
		where a.q_no = #{q_no}
		<trim prefix="ORDER BY">
			<if test="order == 'score'"> u.user_score DESC </if>
			<if test="order == 'votes'"> a.a_recommand DESC </if>
			<if test="order == 'date'"> a.a_regdate DESC </if>
		</trim>
	</select>
	<!-- 답변 수정 -->
	<update id="updateAnswer" parameterType="com.team.cos.answer.vo.AnswerInfo">
		update answer set a_content = #{a_content}, a_tag=#{a_tag} where a_no = #{a_no}
	</update>
</mapper>