<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.cos.question.dao.QuestionInterfaceDao">
	<insert id="insertQuestion" parameterType="com.team.cos.question.vo.QuestionInfo">
		insert into question(user_no,user_nickname,q_title,q_content,q_tag,q_regdate)
		values(#{user_no},#{user_nickname},#{q_title},#{q_content},#{q_tag},now())
	</insert>
	<!-- 가장 최근의 질문 번호 출력하는 문 -->
	<select id="questionSelectNum" resultType="int">
		select q_no from question order by q_no desc limit 1
	</select>
	<!-- 질문 한개를 보여주는 출력하는 문 -->
	<select id="questionViewOne" resultType="com.team.cos.question.vo.QuestionInfo">
		select q_no,user_no,q_title,q_content,q_tag,date_format(q_regdate,'%Y.%m.%d %H:%i'),q_recommand,q_viewcnt
		from question where q_no = #{q_no}
	</select>
	<!-- 작성자 스코어 값을 변경하기 위한 작성자 번호 출력문 -->
	<select id="findUserNum" resultType="int">
		select user_no from question where q_no = #{q_no}
	</select>
	<!-- 사용자의  스코어 값 증가-->
	<update id="userScoreUpdate">
		update userinfo set user_score= user_score + #{score} where user_no = #{user_no}
	</update>
	<!-- 질문 작성자 정보 가져오기  -->
	<select id="questionUser" resultType="com.team.cos.userinfo.vo.UserInfoVo">
		select q.user_no,u.user_photo,u.user_nickname
		from question q inner join userinfo u
		on q.user_no = u.user_no
		where q_no = #{q_no}
	</select>
	<!-- 질문 수정 -->
	<update id="updateQuestion" parameterType="com.team.cos.question.vo.QuestionInfo">
		update question set q_title = #{q_title}, q_tag = #{q_tag} , q_content = #{q_content}, q_regdate = now()
		where q_no = #{q_no}
	</update>
	<!-- 질문 삭제를 위한 답변 검색 -->
	<select id="findAnswer" resultType="int">
		select count(*) from answer where q_no = #{q_no};
	</select>
	<!-- 질문 삭제 -->
	<delete id="deleteQuestion">
		delete from question where q_no = #{q_no};
	</delete>
	<!-- 질문 삭제시 사용자 번호 검색 -->
	<select id="findUserNo" resultType="int">
		select user_no from question where q_no = #{q_no};
	</select>
	<!-- 사용자 유저 번호 검색 주석 -->
	<select id="selectUserScore" resultType="int">
		select user_score from userinfo where user_no = #{user_no};
	</select>
	<!-- 조회수 증가 -->
	<update id="viewCnt">
		update question set q_viewcnt = q_viewcnt + 1 where q_no = #{q_no};
	</update>
</mapper>