@charset "UTF-8";
#k_content{
	height: auto;
    min-height:1200px;
	min-width: 1000px;
}

#k_hearder {
	width: 100%;
}
.nav-link{
	text-decoration: none;
	color : white;
}
.container-fluid{
	margin: 0;
	padding: 0;
}

/* #k_photo {
	background-image: url("../images/back_3333.jpg");
	background-size: cover;
	text-shadow: 0.2em 0.2em 0.2em;
	color: white;
	width: 100%;
	height: 300px;
}*/
/* #k_content {
	margin: 51px 100px;
	width: 1400px;
	height: 1600px;
	float: left;
	position: relative;
} */

/* #k_leftNavBar {
	width: 20%;
	height: 100%;
	position: absolute;
	padding-left: 50px;
	left: 0;
	top: 0;
} */

/* #k_rightContent {
	width: 80%;
	height: 1600px;
	position: absolute;
	right: 0;
	top: 0;
	padding: 50px 50px;
	margin: auto;
} */

/* .navbar-fixed-top {
	background-color: rgb(240,240,242);
	color : black;
}  */
