@charset "UTF-8";

.h_table {
	width: 50px;
}

.h_login {
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-radius: 5px;
	margin-left: 10px;
	background-color: red;
}

.h_loginForm {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.h_loginForm2 {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin-left: 28%;
}

.h_loginForm2 .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.h_loginForm2 .form-control:focus {
	z-index: 2;
}

.h_loginForm2 input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.h_loginForm2 input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.h_login>div {
	border-radius: 5px;
}

.checkbox>label {
	margin-left: 28%;
	font-weight: 400;
}

#loginModal>div>div>div.modal-footer>button.g-signin2.h_login>div>div {
	border-radius: 5px;
	background-color: #28a745;
	color: #fff;
}

.h_check {
	color: green;
	opacity: 0.6;
}

.h_group {
	width: 50%;
}

.h_noticeTable {
	text-align: center;
	width: 80%;
	margin-left: -1%;
}

.h_noticeTable thead {
	background-color: gray;
}

.h_ul {
	list-style: none;
}

.h_noticetd {
	color: black;
}