@charset "UTF-8";

.h_table {
	width: 50px;
}

.h_login {
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-radius: 5px;
	margin-left: 10px;
	margin-bottom: 3px;
	background-color: #5cb85c;
	color: #fff;
}

#k_hearder>div>div:nth-child(3)>button>div{
	border-radius: 5px;
	background-color: #5cb85c;
	color: #fff;
}
.h_check{
	color: green;
	opacity: 0.6;
}