/* @charset "UTF-8";
#k_hearder {
	width: 100%;
	background-color: red;
}

#k_photo {
	background-image:
		url("../images/back_3333.jpg");
	background-size: cover;
	text-shadow: 0.2em 0.2em 0.2em;
	color: white;
	width: 100%;
	margin-top:51px;
	height:300px;
}

#k_content {
	background-color: blue;
	width: 1550px;
	height: 1600px;
	float: left;
	position: relative;
}

#k_leftNavBar {
	background-color: lightgray;
	width: 20%;
	height: 100%;
	position: absolute;
	padding-left: 50px;
	padding-top:50px;
	margin-top: 70px;
	left: 0;
	top: 0;
}

#k_rightContent {
	background-color:pink;
	width: 80%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	padding: 50px 50px;
} */