@charset "UTF-8";

.k_insertBtn{
	float:right;
	margin-right:100px;
}

.k_userImg{
	border-radius:20px;
	width:60px;
	height:60px;
}

.k_questionContentBtn{
	margin:20px 0px 0px 20px;
}

#k_qtag,#k_qtitleForm{
	display :none;
}
.k_AnswerCnt{
	float:left;
	margin:8px 15px 0px 50px;
}
.k_AnswerCnt>b{
	font-size : 20px;
	margin-left : 130px;
	
}
.k_AnswerContentBtn{
	margin:20px 0px 10px 30px;
}
.k_insertQuestion{
	width:100%;
	margin-top: 100px;
}
#k_AnswerEditor{
	height:200px
}
.k_AnswerUpdate{
	margin-top: 40px;
}
#k_atag{
	display:none;
}
#k_inputQuesComm{
	background-color: white;
	border :none;
}
#a_tag{
	background-color: #ecf0f5;
}
#k_qTag>button{
	margin-right:10px;
}
.k_aTag>button{
	margin-right:10px;
}
#k_qTagUl{
	visibility: hidden;
}
.k_aTagUl{
	visibility: hidden;
}
#k_orderBy>li>a{
	color: #007bff;
}
#k_orderBy>li>a:hover{
	color: #17a2b8;
}
.ql-toolbar{
	background-color: white;
}
#myTags{
	background-color: white;
}
#k_AnswerEditor{
	background-color: white;
}
#k_atags{
	background-color: white;
}
.k_userpage{
	color : #007bff;
}
#k_table>td{
	margin-bottom: 20px;
}
#k_homeRankImg>img{
	width: 20px;
	height: 20px;
	border-radius: 0px;
}
.k_cursor{
	cursor: pointer;
}
#k_joinTags{
	background-color: white;
	width: 300px;
	border-radius: 5px;
}

