@charset "UTF-8";

.k_insertBtn{
	float:right;
	margin-right:100px;
}

.k_userImg{
	border-radius:30px;
	width:70px;
	height:70px;
}

.k_questionContentBtn{
	margin:20px 0px 0px 20px;
}
.k_table{
/* 	 border-collapse: separate;
  	 border-spacing: 0 10px; */
}
#k_qtag,#k_qtitleForm{
	display :none;
}
.k_AnswerCnt{
	float:left;
	margin:8px 15px 0px 50px;
}
.k_AnswerCnt>b{
	font-size : 20px;
	margin-left : 130px;
	
}
.k_AnswerContentBtn{
	margin:20px 0px 10px 30px;
}
.k_insertQuestion{
	width:100%;
	margin-top: 100px;
}
#k_AnswerEditor{
	height:200px
}
.k_AnswerUpdate{
	margin-top: 40px;
}
#k_atag{
	display:none;
}

