@charset "UTF-8";

/* nav tab 설정 */
/* .nav-item .nav-link active{
	background-color: rgb(236, 240, 245);
	color: rgb(236, 240, 245);
	
} */









/* nav tab 설정 끝 */

/* 유저 아이콘 */
y_user{
	margin-right: 20px;
}

/* 프로필 */
h2, td {
	padding: 10px;
}

.y_userphoto {
	/* background-image:
		url('${pageContext.request.contextPath}/uploadfile/userphoto/${userInfo.user_photo}');   */
	/* background-color : yellow; */
	background-size: 100%;
	width: 150px;
	height: 150px;
	border: 1px;
	border-radius: 75px;
	margin-top: 70px;
	float : left;
	margin-left: 70px;
	
}
.yu_btn1{
	margin-top: 50px; 
	margin-left : 420px; 
	background-color: rgb(9,51,132);
	border: none;
}
.yu_btn1:hover{
	background-color: gray;
}
.y_profile_myInfo{
	margin-left: 250px;
	width: 600px;
	padding-top: 70px;
}
.yu_btn_del{
	/* float : right;
	margin-top: 50px; 
	margin-right: 300px;
	border : none; */
	margin-top: 50px; 
	margin-left : 420px; 
	border: none;
}

/* 프로필 변경 끝 */

/* 프로필 수정 폼 */
.y_edit_myPhoto{
	
}

#y_image_profile {
	background-size: 100%;
	width: 150px;
	height: 150px;
	border: 1px;
	border-radius: 75px;
	margin-top: 70px;
	float : left;
	margin-left: 70px;
}
/* .y_editForm{
	margin-left: 250px;
	width: 600px; 
	padding-top: 70px;

}
.y_editForm .item{
	width: 200px;
}
y_editForm input{
	size : 60
}
.yu_btn2{
	margin: 20px 250px; 상우하좌
	background-color: rgb(9,51,132);
	border: none;
} */
.y_btn_file{
	
	
}
.yu_btn2{
	margin-left: 420px;
}
.y_editForm .item{
	width: 200px;
}
.y_editForm input{
	size : 500px;
}

/* 프로필 수정 끝 */